<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDItFtJH9Q28yJFWeDz9O1OwdKvc5-2SY</string>
	<key>GCM_SENDER_ID</key>
	<string>65617778915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cvProject</string>
	<key>PROJECT_ID</key>
	<string>uber-58114</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-58114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65617778915:ios:f57ab53ef5c43f510f4dd6</string>
	<key>DATABASE_URL</key>
	<string>https://uber-58114.firebaseio.com</string>
</dict>
</plist>